header
  background-color: #1A191A
  .header-wrapper
    +outer-container
    +pad(0 default 0 default)
main
  +outer-container
  +pad()
  .content
    +span-columns(9)
  .sidebar
    +span-columns(3)
  
// Footer
footer
  background-color: #222
  text-align: center
  color: #777;
  padding: 10px