|{% include header.html %}
body
  header
    .header-wrapper
      |{% include nav.html %}
  main
    section.content
      |{% if page.layout == 'default' %}
      |{%   include post-teaser.html %}
      |{% else %}
      | {{ content }}
      |{% endif %}
    aside.sidebar
      |{% include sidebar.html %}
  |{% include footer.html %}