nav.navbar
  a(href='/').brand {{ site.title }}
  ul.nav
    li.nav-item: a(href='/').nav-link Home
    |{% for page in site.pages %} {% if page.title %}
    li.nav-item: a(href='{{ page.url | prepend: site.baseurl }}').nav-link {{ page.title }}
    |{% endif %} {% endfor %}